/********** Template CSS **********/
:root {
    --Foundation-Primary-primary--50: #ecf0f2;
    --Foundation-Primary-primary--100: #c3d1d7;
    --Foundation-Primary-primary--200: #a7bac4;
    --Foundation-Primary-primary--300: #7e9ba9;
    --Foundation-Primary-primary--400: #658798;
    --Foundation-Primary-primary--500: #3f697e;
    --Foundation-Primary-primary--600: #396073;
    --Foundation-Primary-primary--700: #2d4b59;
    --Foundation-Primary-primary--800: #233a45;
    --Foundation-Primary-primary--900: #1a2c35;
    --secondary: #15ACE1;
    --light: #ecf0f2;
    --dark: #14183E;
}

/* Font */
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    background: linear-gradient(180deg, rgba(45, 75, 89, 0.50) 57.5%, #ECF0F2 100%), url('./Img/Home-Up-900.svg') center center no-repeat;
    background-size: cover;
    height: 750px;
    color: #ecf0f2;
    text-shadow: 5px 5px 20px rgba(26, 44, 53, 0.70);
}

.hero-header .hero-content h1 {
    margin-top: 96px;
    color: var(--Foundation-Primary-primary-50, #ECF0F2);
    font-family: "Creato Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 79px; /* 123.438% */
    letter-spacing: 3.2px;
}

.hero-header .hero-content p {
    margin-top: 30px;
    color: var(--Foundation-Primary-primary-50, #ECF0F2);
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 83.333% */
    line-height: 1.1;
}

.hero-header .btn-prim1 {
    margin-top: 40px;
    border: 1px solid var(--Foundation-Primary-primary-50, #ECF0F2);
    background: linear-gradient(95deg, rgba(126, 155, 169, 0.64) 0.47%, rgba(57, 96, 115, 0.72) 101%);
    color: white;
    text-align: center;
    font-family: "Creato Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 250% */
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

@media (max-width: 576px) {
    .hero-header .hero-content h1 {
        margin-top: 72px;
        font-size: 40px;
        line-height: 50px;
    }
    .hero-header .hero-content p {
        font-size: 20px;
        line-height: 1.1;
    }
}

/*** hero end ***/

/*** Explore Tour Start ***/
.ExploreTour {
    background: linear-gradient(0deg, #1A2C35 1.41%, rgba(45, 75, 89, 0.90) 49.98%, #ECF0F2 98%), url('./Img/Products-Products.svg') center center no-repeat;
    height: 1800px;
    background-size: cover;
}

.ExploreTour h1 {
    margin-top: 30px;
    color: var(--Foundation-Primary-primary-600, #396073);
    text-align: center;
    text-shadow: 0px 5px 5px rgba(126, 155, 169, 0.70);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 79px; /* 131.667% */
    letter-spacing: 3px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 900;
}

/* International Tour Start */
.ExploreTour #InternationalTab-2 .international-layer {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    width: 380px;
    height: 300px;
    border-radius: 20.859px;
    border: 2px solid #FFF;
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.40) -2.12%, rgba(255, 255, 255, 0.30) 100%);
    backdrop-filter: blur(2.5px);
    margin: auto;
}

.ExploreTour #InternationalTab-2 .international-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.ExploreTour #InternationalTab-2 .international-item img {
    transition: 0.5s;
}

.ExploreTour #InternationalTab-2 .international-item:hover img {
    transform: scale(1.2);
}


.ExploreTour #InternationalTab-2 .international-item .international-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: end;
    justify-content: center;
    transition: 0.5s;
}

.ExploreTour #InternationalTab-2 .international-item:hover .international-content {
    background: rgb(57, 96, 115, .5);
}

.ExploreTour #InternationalTab-2 .international-item .international-content .international-info h5 {
    margin-bottom: 45px;
    color: var(--Foundation-Primary-primary-50, #ECF0F2);
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 50% */
}



.ExploreTour #InternationalTab-2 .international-item .international-plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.ExploreTour #InternationalTab-2 .international-item:hover .international-plus-icon {
    opacity: 1;
}
/*** Explore Tour End ***/

